<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forget Password - 2</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="responsive.css">
    <style>
        body{
            background-color: var(--primarycolor);
        }
    </style>
</head>
<body>

    <main id="forgetlog">
        <div id="introContainer">
<h1 class="introHeading">Dive into world of chatting</h1>
<p class="introDisc">Where words come alive—connect, chat, and create moments that matter</p>
</div>
<div id="forgetMain">
    <form action="/Forget2" method="post" class="forgetForm">
    <input type="text" required spellcheck="true" name="forgetCode" class="forgetCode" autofocus placeholder="Write your verification code here">
    <input type="password" required spellcheck="true" name="passwordForget" class="passwordForget"  placeholder="Write new password here">
    <button type="submit" class="forgetBtn2">Submit</button>
  <p class="msg" style="color:(--bodygrey);font-family: var(--primaryfont);"><%= msg %></p>
</form>
</div>
<div id="endForget">
<h2>Chat Corner</h2>
<canvas class="endStyle" width="250" height="250"></canvas>
</div>
    </main>
    <script src="scriptForget.js"></script>
</body>
</html>