<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <nav >
        <h1 style="width: 20%; margin-left: 20px; color: var(--maincolor);">Chat Corner</h1>
        <ul>
            <li>Home</li>
            <li>Setting</li>
            <li>Profile</li>
        </ul>
    </nav>
</body>
</html>































<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="style.css">
<style>
   

    </style>
</head>
<body>
 
    <div id="message1">

    </div>
    <form >
    <div id="extramsg1">
    <center><input type="text" id="Typemessage1" placeholder="Type message here"></center>
    <input type="button" value="Send" id="sendbtnmsg1">
</form>

<script src="/socket.io/socket.io.js"></script>
<script src="scriptF.js"></script>
<script>


</script>
</div>
</body>
</html> -->