<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Setting</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="responsive.css">
</head>
<body>
  <nav>
        <h1 class="headingNav">Chat Corner</h1>
        <ul>
            <li><a href="/Home">Home</a></li>
            <li><a href="/Setting">Setting</a></li>
            <li><a href="/Profile">Profile</a></li>
        </ul>
    </nav>
<main id="settingMain">
<h2>Setting</h2>
<div id="settingAll">
    <form action="/Setting" method="post">
    <div class="settingElement">
        <div class="settingClass">
        <h3 class="settingLabel">Dark mode</h3>
        <p class="settingDesc"></p>
    </div>
    <div class="switch toggleSwitch " id="darkmode">
        <div class="knob"></div>
    </div>
</div>

</div>

</form>
</div>
</main>
<script src="scriptSetting.js"></script>
</body>
</html>