*{
    margin: 0;
    padding: 0;
}

:root{
    --primarycolor:#6915C3;
    --maincolor:white;
    --bodygrey:#C7C4C4;
    --primarydarkpurple:#550EA0;
    --primaryfont:Arial, Helvetica, sans-serif;
    --fieldcolor:#D9D9D9;
}

/*Login*/
#mainlog,#mainreg,#forgetLog{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: fit-content;
}
#introContainer{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
font-family:var(--primaryfont);
margin-top:7vh;
gap: 3vh;
}
.introHeading{
    color: var(--maincolor);
    font-size: clamp(1rem,1.7rem,2rem);
}
.introDisc{
color:var(--bodygrey);
}
#loginMain form,#forgetMain form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3vh;
    margin-top: 7vh;
    width: 100%;
    
}
#regMain form {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 7vh;
    width: 100%;
    
}
.divInsideForm{
    display: flex;
    flex-direction: column;
    width: 70%;
    gap: 3vh;
}



#loginMain form p,#forgetMain form p{
    font-family:var(--primaryfont);
    color: var(--bodygrey);
    white-space: pre-wrap;
    margin-left: 2vh;
    margin-right: 2vh;
}

.emaillog,.passwordlog,.emailForget,.forgetCode,.passwordForget{
padding: 10px;
border-radius: 3px;
border: none;
 width: 30%;
height: 3vh;
background-color: var(--fieldcolor);
color: var(--primarycolor); 
}

#endlog,#endreg,#endForget{
    width:100%;
display: flex;
justify-content: space-around;
align-items: center;

font-family: var(--primaryfont);
color: var(--maincolor);

padding-bottom: 2vh;
position: absolute;
bottom:0;


}
#endlog h2,#endreg h2,#endForget h2{
    font-size: clamp(1rem,2rem,3rem);
}
.emaillog:focus,.passwordlog:focus,.emailreg:focus,.passwordreg:focus,.username:focus,.forgetCode:focus,.passwordForget:focus{
transform: scale(1.01);
background-color: var(--maincolor);
}
.loginBtn,.forgetBtn,.forgetBtn2{
background-color: var(--primarydarkpurple);
color: var(--bodygrey);
padding: 5px;
width: 15%;
height: 7vh;
border: none;
border-radius: 40px;
cursor: pointer;
}
/*Setting*/
.headingNav{
    margin-left: 2vh;
width:20%;
    font-size: clamp(0.8rem,1rem,1.3rem);
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;

    font-family:var(--primaryfont);
    color: var(--bodygrey);
    background-color: var(--primarydarkpurple);
    height: 7vh;
 font-size: 18px;
    cursor: pointer;
    width: 100%;
  position: relative;
  z-index: 1000;
}
ul{
     display: flex;
    justify-content: space-around;
    align-items: center;   
     gap: 30px;
     width: 80%;
   
}
a{
    text-decoration: none;
    color: var(--bodygrey);
}
li{
    list-style-type: none;
}

#settingMain,#profileMain,#homeMain,#regMain{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    background-color: var(--primarycolor);
}
#settingMain h2,#profileMain h2{
    color: var(--maincolor);
    font-family: var(--primaryfont);
    background-color: var(--primarycolor);
    margin: 20px;
}
#settingAll form,#profileContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 7vh;
    gap:3vh;
}
#settingAll form button{
        background-color: var(--primarydarkpurple);
    color: var(--bodygrey);
    padding: 5px;
    width: 152px;
    height: 40px;
    border: none;
    border-radius: 40px;
    cursor: pointer;
}
.settingElement{
    display: flex;
    width: 100%;
    align-items: center;
    font-family: var(--primaryfont);
    justify-content: space-between;

}
.settingClass{
    display: flex;
    flex-direction: column;
  gap: 1vh;


   
}


.switch {
    width: 58px;
    height: 25px;
    background-color:#333333;
    border-radius: 15px;
    position: relative;
    cursor: pointer;
 
}

.knob {
    width: 20px;
    height: 20px;
    background-color: var(--maincolor);
    border-radius: 50%;
    position: absolute;
    top: 2px;
    left: 2px;
    transition: 0.3s;
}

.active{
background-color: var(--maincolor);

}
.activeknob{
    background-color: black;
    left: 32px;
}

.settingLabel,.profileLabel{
    color: var(--maincolor);
}
.settingDesc,.profileDesc{
    color: var(--bodygrey);
}


#profilePhoto2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center ;
    gap: 10px;
}
#profilePhoto2 input[type="file"]{
    width: 130px;
}

#profilePhoto form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center ;
    gap: 10px;
}
#profilePhoto form input[type="file"]{
    width: 130px;
}
#profilePhoto form button{
    background-color: var(--primarydarkpurple);
    color: var(--bodygrey);
    padding: 5px;
    width: 152px;
    height: 40px;
    border: none;
    border-radius: 40px;
    cursor: pointer;
}
.dp{
    width: 130px;
    height: 130px;
}
.profileInformation{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 90%;
  font-family: var(--primaryfont);
margin-left: 30px;
}
.profileInformation div{
    display: flex;
    flex-direction: column;
    gap: 7px;
}

/*home*/

#search form{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 7vh;
    width: 100%;
    height: 7vh;
    gap: 2vh;
}
.searchBar{
   padding: 10px;
border-radius: 3px;
border: none;
 width: 40%;
height: 5vh;
background-color: var(--fieldcolor);
color: var(--primarycolor); 
}
.searchBar:focus{
 transform: scale(1.01);
background-color: var(--maincolor);
}
.searchBtn{
    width: 15%;
    height: 6vh;
    background-color: var(--primarydarkpurple);
    color: var(--bodygrey);
    border: none;
    cursor: pointer;
    border-radius: 40px;

}
#recentChats{
    display: flex;
    flex-direction: column;
 

    width: 100%;
    font-family: var(--primaryfont);
}
#recentChats h2{
    margin: 3vh;
    color: var(--maincolor);
}
.rce{
    display: flex;
    align-items: center;
    margin: 3vh;
    gap: 3vh;
    height: 7vh;
}
.rce div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 3vh;
    cursor: pointer;
}
.rce div img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.rce div p{
font-weight: 560;
color: var(--maincolor);
}
.rce div span{
    font-size: 12px;
    color: var(--bodygrey);
}





#chatDetails{
    display: flex;
    height: 7vh;
    background-color: var(--primarydarkpurple);
    gap: 3vh;
    font-family: sans-serif;
    padding: 10px;
}
#chatDetails div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1vh;
    margin-left: 2vh;
}
#chatDetails div p{
font-weight: 560;
color: var(--maincolor);
}

#chatDetails div span{
    font-size: 12px;
    color: var(--bodygrey);
}
#chatDetails div img{
    width: 40px;
    height: 40px;
    border-radius: 50%;

}



#chatMain{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top:3vh ;
}



#message1{
    display: flex;
    flex-direction: column;

width: 80%;
    height: 70vh;
    padding: 5px;
    background-color: var(--bodygrey);
    overflow:auto;

    
}
#me{
  
    font-family: sans-serif;
font-size: 15px;
background-color: var(--primarycolor);
color:white;
width: 40%;
height: 5vh;
display: flex;
justify-content: flex-start;
align-items: center;
 
 padding: 5px;
 position: relative;
 left:56%;
 border-radius: 5px;
     margin-top: 20px
}
#computer{

    position: relative;
    left:2%;
    background-color: rgb(168, 168, 168);
    color: black;  
width: 40%;
height: 5vh;
display: flex;
flex-direction: row;
font-size: 15px;
font-family: sans-serif;
justify-content: flex-start;
align-items: center;
margin-top: 20px ;
padding: 5px;
border-radius: 5px;  


}
#extramsg{
    display: flex;
    background-color: #550EA0;
    width: 80.7%;
    
}

#Typemessage{
    
    padding: 5px;
    width: 80%;
    border: none;
    border: 1px solid var(--primarycolor);
    border-radius:3px ;

}
 #sendmsgbtn{
background-color: var(--primarycolor);
    border: none;
    font-size: large;

    height: 7vh;
    width: 20%;
    color: white;
    cursor: pointer;

}
